<nav class="navbar navbar-dark" >
  <span class="navbar-text">
    Allianz Github
  </span>
    <ul class="navbar-nav mr-auto text-center">
      <li class="nav-item">
          {{userLogedIn}}
      </li>
  </ul>
</nav>
<h1>Github Enterprice MFA</h1>
  <h3 *ngIf="isLoggedIn()">Copy login command to pasted directly in your terminal</h3>
<mat-card *ngIf="isLoggedIn()"> git config --global http.extraHeader "MFA: bearer {{bearer}}"
  <button *ngIf="isLoggedIn()" ngxClipboard [cbContent]="comdToken" style="float: right;" title="Copy code snippet" class="material-icons copy-button no-print ng-star-inserted" aria-label="">
    <span aria-hidden="true">content_copy</span>
  </button>
</mat-card>
<br>
<h3 *ngIf="isLoggedIn()"> Generate token locally</h3>
<mat-card *ngIf="isLoggedIn()" >
  az login --allow-no-subscriptions –use-device-code
  <br *ngIf="isLoggedIn()">
  bearer=$(az account get-access-token --resource api://{{adtoken}} --output tsv --query accessToken)
  <br>
  "git config --global http.extraHeader "MFA: bearer $bearer“"
</mat-card>
<br>
